
<ul> 

{{#collection}}

	<li> 
		I am a list item for a model! Yay! I know about three things. 
		<ol>
			<li> {{typeFoo}} </li>
			<li> {{method}} </li>
			<li> {{codeSnippet}} </li>
			<li> {{apiText}} </li>
		</ol>
	</li>

{{/collection}}

</ul> 



